/* INIZIALIZZAZIONE CSS */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* PARTE DI TESTATA */

header {

}

/* SEZIONI */


/* sezione 1 */


/* sezione 2 */


/* sezione 3 */


/* sezione 4 */


/* sezione 5 */


/* sezione 6 */


/* sezione 7 */


/* FONDO PAGINA */
