@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../font/AvenirNextCyr-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../font/AvenirNextCyr-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next Cyr';
    src: url('../font/AvenirNextCyr-Demi.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
  font-family: 'Avenir Next Cyr';
  src: url('../font/AvenirNextCyr-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Avenir Next Cyr";
}

.clearfix:after {
  content: '';
  display: table;
  clear: both;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  height: 100%;
}

ul {
  list-style-type:none;
}


li {
  display:inline-block;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.btn-arancio {
text-align: center;
border-radius: 3px;
display: inline-block;
background-color: #ff7a59;
color: #fff;
padding: 13px 16px;
font-size: 14px;
font-weight: 500;
transition: 0.3s ease-in-out;
}

.btn-arancio:hover {
  background-color:#ffbcac;
  color:#fff;
}

/* PARTE DI TESTATA **************/

.fixed-head {
  width: 100%;
  height: 84px;
  background-color: #f5f8fa;
  position: fixed;
  top: 0;
  border-bottom: 1px solid #cbd6e2;
  padding-top: 24px;
  z-index: 99999;
}

.fixedeng {
  float: left;
  padding-right: 24px;
  border-right: 2px solid #cbd6e2;
}

.fixedeng img {
  width: 18px;
  margin-right: 7px;
  vertical-align: middle;
}

.fixed span {
  font-size: 16px;
  line-height: 29px;
  color: #33475b;
  font-weight: 500;
  vertical-align: middle;
  margin-top: 2px;
}

.fixedeng span:after {
  content:'⮟';
  display: inline-block;
  color: #7c98b6;
  font-size: 16px;
  line-height: 1;
  margin-left: 8px;
  margin-top: 8px;
}

.fixedcontact {
  float: left;
}

.fixedcontact span{
  padding-left: 23px;
}

.fixedbtn {
  transition: 0.3s ease-in-out;
  float:right;

}




.fixedbtn img {
  width: 18px;
  margin-right: 7px;
  vertical-align: middle;
}

.login {
  margin: 16px;
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ff7a59;
  color: #ff7a59;
  padding: 13px 29px;
  font-size: 14px;
  font-weight: 500;
}

.login:hover {
  background-color: #fff1ee;
  color: #ff7a59;
}

/* header nav *********/

.nav {
  background-color: #fff;
  margin-top: 94px;
  padding: 8px 0;
}

.menu li {
  color: #33475b;
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  padding-left: 18px;
  padding-right: 18px;
}

.menu li:not(.noarrow):after {
  content:'⮟';
  display: inline-block;
  color: #7c98b6;
  font-size: 17px;
  line-height: 1;
  margin: 5px;
}

nav img {
  margin-top: 13px;
  float: left;
}

nav ul {
  float: right;
}

nav li {
  padding: 18px 0;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown:hover .dropdown1 {
  display: inline-block;
}

.dropdown1 {
  display: none;
  float: left;
  right: -504px;
  top: 45px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #cbd6e2;
  min-width: 895px;
  padding: 0 27px;
  box-shadow: 0 1px 24px rgba(45,62,80,0.12);
  z-index: 1;
  text-align: center;
}

.dropdown1 h3 {
  font-size: 20px;
  line-height: 29px;
  color: #33475b;
  font-weight: 600;
}

.dropdown1 p {
  font-size: 15px;
  line-height: 24px;
  color: #33475b;
  font-weight: 400;
}

.dropdown1 li {
  padding: 36px;
}

.freehubspot {
  float: left;
  width: 100%;
  border-bottom: 1px solid #cbd6e2;
}

.marketing-hub {
  width: 100%
}

.dropdown2 {
  border-bottom: 1px solid #cbd6e2;
}

.tre {
  padding: 18px;
  float: left;
  width: 32%;
  text-align: left;
}

.uno-menu > * {
  display: inline-block;
  position: relative;
  right: 30px;
}

#btn-new {
background-color:#00bda5;
color: #fff;
font-size: 11px;
font-weight: 700;
padding: 3px 14px;
border-radius: 3px;
text-align: center;
text-transform: uppercase;
margin-right: 5px;
vertical-align: top;

}

/* SEZIONI */

/* sezione 1 */

#jumbotron {
  background-color: #fef3ee;
  border-bottom: 3px solid #33475b;
  box-shadow: inset 0 11px 8px -10px rgba(51,71,91,0.12);
  padding-top: 73px;
  background-image: url(../img/sfondo.png);
  background-position: right;
  background-repeat: no-repeat;
  height: 741px;
  }

.jumbo-left {
  max-width: 430px;
}

.jumbo-left h1 {
  margin: 23px 0;
  font-size: 46px;
  line-height: 60px;
  color: #33475b;
  font-weight: 700;
}

.jumbo-left p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 400;
  color: #33475b;
  text-align: left;
  margin-bottom: 18px;
}

.jumbo-left p:last-child {
  font-size: 14px;
  line-height: 21px;
  font-weight: 500;
  color: #33475b;
  text-align: left;
  max-width: 215px;
  margin-top: 28px;
}

.big {
  font-size: 17px;
  font-weight: 600;
  padding: 24px 32px;
}

/* sezione 2 */
.rubik {
  background-color: #f5f8fa;
  text-align: center;
  padding: 100px 0 50px 0;

}
.rubik img {
  max-width: 260px;
}

.rubik h2 {
  font-size: 32px;
  line-height: 42px;
  color: #33475b;
  font-weight: 700;
  margin-bottom: 20px;
}

.rubik p {
  font-size: 18px;
  line-height: 29px;
  color: #33475b;
  font-weight: 400;
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

/* sezione 3 */
.free-hubspot {
  background-color: #f5f8fa;
  padding: 40px;
}

.boxfree {
  background-color: #FFF;
  padding: 36px;
  box-shadow: 0 0 11px #eaf0f6;
  transition: 0.3s ease-in-out;
}

.boxfree:hover {
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
  transform: scale(1.014)
}

.librogenda {
  float: left;
  width: 40%;
  text-align: center;
}

.btn-wrap {
  padding-top: 20px;
  text-align: center;
}

.btn-wrap a {
  padding: 13px 30px;
  font-size: 15px;
  font-weight: 600;
  line-height: 29px;
}

.librogenda img {
  width: 100%;
  height: 150px;
}

.freehub-text {
  float:left;
  width: 60%;
}

.features{
  margin: 0 20px 5px 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 29px;
  color: #33475b;
}

.freehub-text h4 {
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  color: #33475b;
  margin: 11px 0;
}

.freehub-text p:first-of-type {
  text-align: left;
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  color: #33475b;
  margin: 14px 0;
}

.freehub-text p:nth-child(3)  {
  text-align: left;
  font-size:13px;
  font-weight: 600;
  line-height: 21px;
  color: #33475b;
  margin: 26px 0 15px 0;
}

.orangecheck {
  width: 18px;
  height: auto;
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 10px;
}

/* sezione 4 */
.tre-hub {
  background-color: #f5f8fa;
  padding-bottom: 70px;
}

.tre-hub h4 {
  text-align: center;
  font-size: 22px;
  line-height: 30px;
  color: #33475b;
  font-weight: 600;
  margin: 11px 0;
}

.col p:first-of-type {
  font-size: 14px;
  line-height: 23px;
  color: #33475b;
  text-align: left;
  font-weight: 400;
}

.col p:nth-of-type(2) {
  font-size:13px;
  line-height: 21px;
  font-weight: 500;
  color: #33475b;
  margin: 26px 0 15px;
  padding-top: 26px;
  border-top: 1px solid #e0e6ed;
}

.col:nth-child(2) {
  margin:0px 37px;
}

.col > img {
  width: 100%;
  height: 150px;
}

.col {
  width: 31%;
  float:left;
  padding: 36px;
  background-color: white;
  transition: 0.3s ease-in-out;
  box-shadow: 0 0 11px #eaf0f6;
}

.col:hover {
  transform: scale(1.014);
  box-shadow: 0 10px 50px -5px rgba(51,71,91,0.12);
}


/* sezione 5 */
.recap-board {
  background-image: linear-gradient(45deg, #00a4bd, #00bda5);
  padding: 100px 0 126px;
}

.recap-board h2 {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  line-height: 42px;
  color: #fff;
  max-width: 750px;
  margin: 0 auto;
}

.recap-board p {
  text-align: center;
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
  color: #fff;
  padding-top: 18px;
  max-width: 750px;
  margin: 0 auto;
}

.grid-item {
  text-align: center;
  width: 25%;
  float: left;
  padding: 30px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.grid-item h2 {
  font-size: 45px;
  line-height: 45px;
  font-weight: 700;
}

.grid-item p {
  font-size: 18px;
  line-height: 29px;
  font-weight: 500;
}

.recap-grid {
  margin-top: 80px;
}

.recap-grid img {
  text-align: center;
  max-width: 150px;
  max-height: 100%;
  margin: 15px;
}

.noborder {
  border-bottom: none;
}

.noborder-right {
  border-right: none;
}

#growth {
  margin-top: 10px;
}


/* sezione 6 */
.clients {
  padding-top: 150px;
  background-color: #fff;
}

.clients-text {
  float: left;
  width: 33%;
}

.clients-text h2 {
  font-size: 45px;
  line-height: 59px;
  font-weight: 700;
  color: #33475b;
  margin: 0 0 5px;
}

.clients-text p {
  font-size: 22px;
  line-height: 35px;
  color: #33475b;
  font-weight: 400;
}

.clients-logos {
  float: right;
  max-width: 600px;
}

.clients-logos img {
  width: 146px;
  height: auto;
  padding: 20px;
  vertical-align: middle;
}

/* sezione 7 */
.start-today {
  padding: 100px 0 135px;
  background-color: #fff;
}
.today-text {
  max-width: 486px;
  float: left;
}

.today-text h2 {
  font-size: 32px;
  line-height: 42px;
  font-weight: 700;
  color: #33475b;
  margin-bottom: 22px;
}

.today-text p {
  font-size: 18px;
  line-height: 29px;
  color: #33475b;
  font-weight: 400;
  padding: 18px 0;
}

.today-text span {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #516f90;
}

#left {
  padding-bottom: 20px;
  text-align: left;
}

.today-person {
  float:right;
}

.today-person img {
  width: 350px;
  height: auto;
}


/* FOOTER */


footer {
  padding: 111px 0 0;
  background-color: #33475b;
}

.foot-col {
  width: 100%;
}

.col-foot{
  float: left;
  width: 25%;
}

.col-foot h5 {
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  font-weight: 700;
}

.col-foot a {
  font-size: 16px;
  line-height: 29px;
  color: #cbd6e2;
  font-weight: 500;
  padding: 9px 0;
  text-align: left;
  display: block;
}

#contact-btn {
  text-align: left;
  border-radius: 2px;
  display: inline-block;
  background-color: #fff;
  color: #33475b;
  padding: 9px 15px;
  font-size: 14px;
  font-weight: 500;
  line-height: 29px;
}

.icone-social *{
  color: #cbd6e2;
  padding-top:30px;
  padding-right: 30px;
}

.languages {
  text-align: center;
  padding: 36px 0;
  border-bottom: 1px solid #7c98b6;
}

.languages a {
  font-size: 18px;
  font-weight: 600;
  line-height: 29px;
  color: #cbd6e2;
  padding: 0 18px;
}

.footer-bottom {
  padding: 36px 0;
}

.logo-footer {
  float: left;
}

.logo-footer p {
  font-size: 14px;
  line-height: 21px;
  color: #cbd6e2;
  font-weight: 400;
  padding: 14px 0;
}

.copyright {
  float: right;
}

.copyright a {
  font-size: 18px;
  line-height: 29px;
  font-weight: 600;
  color: #cbd6e2;
  padding: 0 18px;
}
